<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>info.ponycard.eer.app</string>
    <key>WorkingDirectory</key>
    <string>/Users/you/Projects/eer</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/local/bin:/opt/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/node</string>
      <string>/usr/local/bin/gulp</string>
      <string>serve:user</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/you/Library/Logs/eer.app.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/you/Library/Logs/eer.app.stderr.log</string>
    <key>KeepAlive</key>
    <true />
  </dict>
</plist>
