<!DOCTYPE html>
<html lang="en" ng-app="eer" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Equine Event Runner</title>

    <!-- build:css eer.min.css -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/eer.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Equine Event Runner</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container-fluid">
      <div class="row">
        <div ng-controller="SidebarCtrl" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a ui-sref="events">Events</a></li>
            <li ng-repeat="sub in $state.current.data.sidebar">
              <a ui-sref="{{sub.location}}" ui-sref-active="active">{{sub.name}}</a>
            </li>
            <hr>
            <li><a href="javascript:window.open('timer.html', 'Round timer', 'menubar=no,toolbar=no,scrollbars=no,status=no,directories=no,location=no');void(0)">Timer</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div ng-controller="AlertCtrl">
          <div class="alert alert-danger" role="alert"
               ng-repeat="alert in alerts track by $index">
            <button type="button" class="close" aria-label="Close"
                    ng-click="closeAlert($index)">
              <span>&times;</span>
            </button>
            {{alert}}
          </div>
        </div>
        <div ui-view>Loading...</div>
      </div>
    </div>

    <!-- build:js eer.min.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
    <script src="app.js"></script>
    <script src="services/uuid.js"></script>
    <script src="services/eerDb.js"></script>
    <script src="services/swiss.js"></script>
    <script src="services/edmons.js"></script>
    <!-- endbuild -->
  </body>
</html>
