<button class="btn btn-default" ng-click="pair()">Pair Next Match</button>
<button class="btn btn-default" ng-click="pairCurrent()">Pair Current Match</button>
<button class="btn btn-default" ng-click="unpairLastRound()">Unpair Last Round</button>
<button class="btn btn-default" ng-click="resetMatches()">Reset Matches</button>
<div id="matches-hdr">
  <span class="h3">Matches</span> - <a ng-click="matches_filter = ''">All</a> | <a ng-click="matches_filter = {winner: null}">Current</a> | <a ng_click="matches_filter = {winner: '!null'}">Completed</a>
</div>
<div id="matches" class="list-group">
  <span class="list-group-item"
        ng-repeat="match in model.matches | toArray | filter:matches_filter | orderBy:['-round', 'table']">
    <span>
      Round: {{match.round}} - Table {{match.table}} -

      <span ng-class="{'label label-success': match.first === match.players[0]}"
            ng-click="match.first = match.players[0]; saveMatch(match)"
        >1<sup>st</sup></span>
      <span ng-class="{'label label-success': match.winner === match.players[0]}"
            ng-click="match.winner = match.players[0]; saveMatch(match)"
        >{{model.players[match.players[0]].name}}</span>
      <span ng-hide="match.players[1] === null">
        <span ng-class="{'label label-success': match.winner === 'tie'}" ng-click="match.winner = 'tie'; saveMatch(match)">vs.</span>
        <span ng-class="{'label label-success': match.winner === match.players[1]}"
              ng-click="match.winner = match.players[1]; saveMatch(match)"
          >{{model.players[match.players[1]].name}}</span>
        <span ng-class="{'label label-success': match.first === match.players[1]}"
              ng-click="match.first = match.players[1]; saveMatch(match)"
          >1<sup>st</sup></span>
      </span>
    </span>|
<span>{{model.swiss.matchPoints(model.event, model.players[match.players[0]])}}</span><span ng-hide="match.players[1] === null"> - {{model.swiss.matchPoints(model.event, model.players[match.players[1]])}}</span>
    <button type="button" class="btn btn-default btn-sm pull-right"
            ng-click="removeMatch(match)">✖</button>
  </span>
</div>
