<h3>Players</h3>
<ul id="players" class="list-group">
  <li class="list-group-item"
      ng-repeat="player in model.players | toArray | orderBy:[comparePlayer, _id]:'True'">
    {{model.swiss.winLossTie(model.event, player)}} - {{model.swiss.matchPoints(model.event, player)}} - {{model.swiss.opponentsMatchWinPercentage(model.event, player)}} - {{player.name}}

    <button type="button" class="btn btn-default pull-right" ng-click="removePlayer(player, model.event)">✖</button>
    <span class="pull-right">
      <input type="checkbox" autocomplete="off" ng-model="player.paid" ng-click="savePlayer(player)">
        Paid
      </input>
      <input type="checkbox" autocomplete="off" ng-model="player.dropped" ng-click="savePlayer(player)">
        Dropped
      </input>
      |
    </span>
  </li>
  <li class="list-group-item">
    <form class="form-inline" ng-submit="addPlayer()">
      <label>Add Player: </label>
      <input type="text" class="form-control" placeholder="Name"
             ng-model="name" />
      <button type="submit" class="btn btn-default"><b>＋</b></button>
    </form>
  </li>
</ul>
