<button class="btn btn-default" ng-click="model.swiss.pair(model.event)">Pair Next Match</button>
<button class="btn btn-default">Repair Current Match</button>
<div id="matches-hdr">
  <span class="h3">Matches</span> - <a ng-click="matches_filter = null">All</a> | <a ng-click="matches_filter = {winner: null}">Current</a> | <a ng_click="matches_filter = {winner: '!null'}">Completed</a>
</div>
<div id="matches" class="list-group">
  <span class="list-group-item"
        ng-repeat="match in model.data.matches(model.event) | filter:matches_filter">
    Round: {{match.round}} -
    <span ng-class="{'label label-success': match.winner === match.players[0]}"
      >{{model.data.player(match.players[0]).name}}</span>
    vs.
    <span ng-class="{'label label-success': match.winner === match.players[1]}"
      >{{model.data.player(match.players[1]).name}}</span>
    <span class="pull-right">lol</span>
  </span>
</div>
